/* =================================== BASE ================================= */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(90deg, #fff5e6, #ffd699)
}

#page {
  flex: 1;
  display: flex;
  flex-direction: column;

}

#title{
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  font-family: Arial;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  
}

#text{
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  font-family: Arial;
  text-align: center;
  font-size: 1,8vw;
}


/* =================================== HEADER ================================= */
#header {
  flex: 0 1 auto;
  background: linear-gradient(90deg, #fff5e6, #ffd699);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  font-size: 1,8vw;
}
#header > h1 {
  margin: 0;
  flex: 0 1 300px;
  text-align: center;
  justify-content: flex-center;
}
#header > form {
  margin: 0;
  flex: 0 1 600px;
  display: flex;
  justify-content: flex-center;
  border: 1px solid red; 
}

#header > form > * {
  margin-left: 5px;
}

#text > div {
  padding: 10px 50px;
}
#text > div > p {
  margin: 0;
}

/* =================================== articleContainer ================================= */

#articleContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#articleContainer > div {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

#articleContainer > div > #preview {
  flex: 1;
  display: flex;
  flex-direction: column;
}


#articleContainer > div > #preview > .single-article > div {
  background: white;
  margin: 10px;
  border: 1px black solid;
  border-radius: 4px;
  padding: 5px;
}

#articleContainer > div > #preview > .single-article > div > img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

#articleContainer > div > #details {
  flex: 0 0 250px; 
}

.visible {
  display: none;
}

.bottom-details {
  border-top: 1px solid lightgray;
}

/* =================================== Details ================================= */
#details {
  display: none;
}

#details a {

  /* overflow-wrap: break-word; */
  word-wrap: break-word;
  width: 230px;
  display: inline-block;
  /* background: yellow; */
}

/* =================================== FOOTER ================================= */
#footer {
  flex: 0 1 auto;
  background: #dcdddd;
  text-align: center;
  font-style: Arial;
  font-style: italic;
}


/* =================================== MEDIA QUERIES ================================= */

@media (min-width: 768px) {
  .visible {
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
  }

  #articleContainer > div > #preview {
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #articleContainer > div > #preview > .single-article {
    flex: 0 1 50%;
  }

  #details {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid black;
    background: white;
    padding: 10px;
    border-radius: 4px;
  }

  .bottom-details {
    display: none;
    border-top: 1px solid lightgray;
  }
}

@media (min-width: 992px) {
  

  #articleContainer > div > #preview > .single-article {
    flex: 0 1 33.33%;
  }

}

@media (min-width: 1200px) {
  #articleContainer > div > #preview > .single-article {
    flex: 0 1 25%;
  }
}
